.App {
  text-align: center;
}
form.form{
  
  display: absolute;
  flex-direction: column;
  background-color: white;
  border: 1px solid #dadce0;
  border-radius: 8px;
  width: 40%;
  height: 150%;
  margin-top: 155px;
  padding: 20px;
  /* padding: 24px 24px 36px; */
  margin-left: auto;
  margin-right: auto; 
}
  
  /* margin-top: 100px;


button.log{
  margin-top: 20px;
  width: 10%;

 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* body {
  background-image: url("cover.jpg");
  background-size: 100%;
} */
div.bar{
  position: absolute;
  z-index: 5;
  
 
}
nav.elements ul {
  list-style:  none;
  display: flex-inline;


}
nav.elements ul li {
  
  display: flex-inline;
  


}
nav.elements ul li a{
  text-decoration: none;
  color: crimson;
  
  border-radius: 2px;

  font-size: 20px;
  
}
nav.elements ul li button{
  text-decoration: none;
  border-radius: 5px;

  font-size: 18px;
  
}
ul{
  display: inline-flex;
  margin-top: 0;
  margin-right: 20px;
  display: absolute;
  top: 0;
  float: right;
 
}
nav.elements{
   position: absolute;
   float: left;
   font-size: 26px;
   
   z-index: 5;
  width: 100vw;
  height: 50px;
  top: 0;
  
  
  box-sizing: border-box;

  
}
button{
  color: crimson;
}
h1.title{
  margin-left: 90px;
}
a.active{
  /* padding: 650px; */
  margin-right: 100px;
}
a.products{
  margin-right: 100px;
}
a.about{
  margin-right: 100px;
}
a.contact{
  margin-right: 100px;
}
a.login{
  margin-right: 20px;
}
a.signup{
  /* margin-right: 20px; */
  
 
}
button.color{
  background-color: #e92f31;
  color: white;
}
button.explore{
  background-color: #e92f31;
  height: 20px;
  color: white;
}
div.intro{
  margin-left: 150px;
  margin-top: 250px;
  font-size: 10px;
  
}
div.purchasesholder{
  overflow-y: scroll;
  height: 50vh;
}
p.us{
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  /* margin-top: 50px; */
  padding-top: 90px;
  font-size: 20px;
}
div.image1{
  padding: 50px;
  border-radius:10%;
  height: 100px;
  margin-top: -150px; 
  width: 150px;
  /* margin-left: 500px;
  margin-top: -5px; */
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 150px;
}
div.image2{
  padding: 50px;
  border-radius:10%;
  height: 100px;
   
  width: 150px;
  /* margin-left: 500px;
  margin-top: -5px; */
  text-align: center;
  font-size: 14px;
  margin-top: -100px;
  margin-left: 550px;
  
}
div.image3{
  padding: 50px;
  border-radius:10%;
  height: 100px;
  
  width: 150px;
  margin-right: 390px;
  
  text-align: justify;
  font-size: 14px;
  float: right;
  margin-top: -100px; 
}
img.shirt1{
  height: 200px;
}
img.mug1{
  height: 200px;
}
img.hoodie1{
  height: 200px;
}
div.slant{
  position: absolute;
width: 100vw;
height: 360px;
left: 0px;
top: 0px;

background-color: #A9A9AF;
mix-blend-mode: color-burn;
clip-path: polygon(100% 0, 100% 64%, 49% 100%, 0 65%, 0 0);
}
.store{
  position: absolute;
  width: 30vw;
  height: 360px;
  left: 32%;
  top: 90px;
}
.store h2{
font-family: 'Kaisei Opti';
font-style: normal;
font-weight: 400;
font-size: 98px;
line-height: 185px;
/* identical to box height */


color: #FFFFFF;

backdrop-filter: blur(1px);
}
h3.slanth2{
  position: absolute;
  width: 618px;
  height: 103px;
  left: 450px;
  top: 365px;

font-family: 'Kaisei Opti';
font-style: normal;
font-weight: 700;
font-size: 30px;
padding: 50px;
/* line-height: 52px; */

color: #FFFFFF;


}
.width{
  width: 200px;
}
div.card{
  margin-right: 50px;
  padding: 20px;
}
.cardrow{
  width:50px;
}
.slanth3{
  position: absolute;
width: 59vw;
height: 52px;
left: 710px;
top: 490px;

font-family: 'Kaisei Opti';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 52px;
text-align: left;

color: white;
z-index: 3;
}
.slant2{
  position: absolute;
width: 618px;
height: 73px;
left: 500px;
top: 420px;

background: #A9A9AF;
mix-blend-mode: color-burn;
}
.slant3{
position: absolute;
width: 49vw;
height: 73px;
left: 600px;
top: 494px;

background: #A9A9AF;
mix-blend-mode: color-burn;
}
button.explore3{
  position: absolute;
  z-index: 50;
  background: white(203, 184, 152, 0.35);
  border: 1px solid rgba(0, 0, 0, 0.5);
  bottom: 30px;
  left: 630px;
  width: 190px;
  height: 50px;
  color: black;
  font-family: 'Kaisei Opti';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  border-radius: 5px;
  text-align: center;



}
div.bar{
  background-color: #FFFFFF;
  position: absolute;
  z-index: 5;
}
.slant4{
  position: absolute;
width: 98vw;
height: 95px;

/* top: 647px; */
bottom: 0px;

background: #A9A9AF;
mix-blend-mode: color-burn;
}

img.profile{
  position: absolute;
width: 100%;
height: 100vh;
/* display: flex;
align-items: center;
justify-content: center; */
right: 0;
bottom: 0;
overflow: hidden;
object-fit: cover;

mix-blend-mode: multiply;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
div.phrase{
  margin-top: 0px;
 
}