


 .purchasesholder {
    position: absolute;
    width: 90vw;
    height: 70%;
    left: 60px;
    top: 175px;
    stroke: rgb(109, 106, 106);
    border: 1px solid rgb(174, 168, 168);
    border-radius: 1%;
    font-family: bs-font-sans-serif;
}
.card-img-top{
    width: 10px;
}
.purchasessummary {
    position: absolute;
    width: 35%;
    height: 370px;
    left: 58%;
    top: 270px;
    border: 1px solid rgb(174, 168, 168);
    border-radius: 1%;
    font-family: bs-font-sans-serif;
}

.checkout-button {
position: absolute;
width: 200px;
height: 25px;
left: 140px;
top: 324px;
background: #E92F31;
border-radius: 20px;
border: 1px solid rgb(248, 244, 244);
color: aliceblue;
font-family: bs-font-sans-serif;
font-size: 15px;
}

button:hover {
    background-color: rgb(66, 4, 4);
}

#summary-header {
    font-family: bs-font-sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 2%;
}

.header-separator {
    position: absolute;
    width: 88%;
    height: 0px;
    left: 60px;
    top: 150px;
    border: 1px solid rgba(177, 172, 172, 1)
}

.cart-title {
    position: absolute;
    left: 50%;
    top: 90px;
    font-family: bs-font-sans-serif;
    font-size: 38px;
}

.grey-topbar {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    background: rgb(227, 226, 226);
    border-radius: 1% 1% 0px 0px;
}

.grey-topbar-summary {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    background: rgb(227, 226, 226);
    border-radius: 1px 1px 0px 0px;
}

.items-loop {
    position: absolute;
    top: 50px;
    padding: 30px;
} 