.button-reduce {
    position: relative;
    left: 300px;
    color: black;
    background-color: white;
    border-color: #E92F31;
    height: 20px;
    width: 50px;
    border-radius: 5%;
    
}

.button-add {
    position: relative;
    left: 410px;
    color: black;
    background-color: white;
    border-color: #E92F31;
    height: 20px;
    width: 50px;
    border-radius: 5%;
}

.button-confirm-green {
    position: relative;
    left: 450px;
    color: white;
    background-color:green;
    border-color: green;
    height: 20px;
    width: 75px;
    border-radius: 5%;
   
}

.button-confirm-red {
    position: relative;
    left: 450px;
    color: white;
    background-color:#E92F31;
    border-color: #E92F31;
    height: 20px;
    width: 62px;
    border-radius: 5%;
   
}

.item-line {
    position: absolute;
    width: 200px;
    height: 0px;
    /* left: 60px;*/
    /* top: 2%;  */
    border: 1px solid rgba(177, 172, 172, 1);  
}

.item-card {
    border-bottom: 1px solid black ;
    width: 350px;
    
}

.quantity-count {
    position: relative;
    left: 405px;
    font-size: 20px;
    font-family: bs-font-sans-serif;
}

.item-title {
    font-size: 20px;
    font-family: bs-font-sans-serif;
}