.card {
    border: 1px solid red;
    border-radius: 3% ;
    

}
.items{
    padding: 50px;
   
    
}
.col{
    border: 1px solid red;
    padding: 5px;
    align-items: center;
}
.card-body {
    padding: 5px;
    align-items: center;
    font-size: 20px;
    border: 1px solid red;
    
}
div.card mb-3{
    align-items: center;
    padding: 20px;
}
.card-title {
    font-size: 20px;
}